---
import { Image } from "@astrojs/image/components";
import getProjectImageSrc from "@images/utils";
import type { CollectionEntry } from "astro:content";

export interface Props {
    project: CollectionEntry<"projects">;
}

const { project } = Astro.props;

const src = await getProjectImageSrc(
    project.data.links?.github ?? "Not Found",
    project.data.image?.src
);
---

<article>
    <header>
        <a href={`/projects/${project.slug}/`}>
            <div>
                <Image
                    width={500}
                    height={500}
                    position="center"
                    format="webp"
                    src={src}
                    alt={project.data.name}
                />
            </div>
            <strong class="project-name">{project.data.name}</strong>
        </a>
    </header>
    <span>{project.data.summary}</span>
    <footer>
        <small>{project.data.tags.join(" • ")}</small>
    </footer>
</article>

<style>
    article {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
        display: flex;
        flex-direction: column;
    }

    article:hover {
        transform: translateY(calc(var(--spacing) * -0.5));
        transition: transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
    }

    article:hover img {
        transform: scale(1.06);
    }

    header > a > div {
        overflow: hidden;
        width: 100%;
        margin-bottom: var(--spacing);
    }

    header > a > strong {
        font-size: larger;
    }

    span {
        flex-grow: 1;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
    }
</style>
