---
import { Image } from "astro:assets";
import type { CollectionEntry } from "astro:content";

export interface Props {
    project: CollectionEntry<"projects">;
}

const { project } = Astro.props;
---

<a href={`/projects/${project.slug}/`}>
    <div class="card">
        <div class="header">
            <strong class="project-name">{project.data.name}</strong>
            <div>
                <Image
                    width={500}
                    height={500}
                    format="webp"
                    src={project.data.image}
                    alt={project.data.name}
                />
            </div>
        </div>
        <span>{project.data.summary}</span>
        <div class="footer">
            <small>{project.data.tags.join(" • ")}</small>
        </div>
    </div>
</a>

<style>
    :not(.project-name) {
        text-decoration: none !important;
    }

    div.card {
        display: flex;
        flex-direction: column;
        height: 100%;
        background-color: var(--secondary);
        padding: calc(var(--spacing) * 2);
        gap: calc(var(--spacing) * 3);
        border-radius: 5px;
    }

    a {
        margin-bottom: 0 !important;
        margin-top: 0 !important;
    }

    a:hover {
        transform: translateY(calc(var(--spacing) * -0.5));
        transition: transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
    }

    a:hover img {
        transform: scale(1.06);
    }

    div.header {
        text-align: center;
        display: flex;
        flex-direction: column;
        gap: calc(var(--spacing) * 2);
    }

    div.header > div {
        overflow: hidden;
        width: 100%;
    }

    div.header > strong {
        font-size: larger;
    }

    div.footer {
        text-align: center;
    }

    span {
        flex-grow: 1;
        text-align: center;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    img {
        object-fit: cover;
        width: 100%;
        height: 100%;
        transition: transform cubic-bezier(0.68, -0.55, 0.27, 1.55) 0.4s;
    }
</style>
