---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const blogEntries = await getCollection("posts");

blogEntries.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="The Cowsay - Ben C's Blog">
  <h1>The Cowsay - Ben C's Blog</h1>
  <p>Here you'll find my blog posts, most recent first</p>
  {
    blogEntries.map((p, i) => (
      <>
        {i === 0 && <hr />}
        <div>
          <h2>
            <a href={`/blog/${p.slug}`}>{p.data.title}</a>
          </h2>
          <p>{p.data.date.toDateString()}</p>
        </div>
        <p>
          {p.data.summary}&nbsp;&nbsp;<a href={`/blog/${p.slug}`}>Read More</a>
        </p>
        <hr />
      </>
    ))
  }
</Layout>

<style>
  div h2 {
    margin-bottom: var(--1);
  }

  div p {
    margin-top: 0;
    font-size: var(--3);
  }

  h2 > a {
    text-decoration: none !important;
  }
</style>
