---
import Layout from "@layouts/Layout.astro";
import { getCollection } from "astro:content";

const blogEntries = (await getCollection("posts"));

blogEntries.sort((a, b) => b.data.date.valueOf() - a.data.date.valueOf());
---

<Layout title="The Cowsay - Ben C's Blog">
    <h1>The Cowsay - Ben C's Blog</h1>
    <p>Here you'll find my blog posts, most recent first</p>
    {
        blogEntries.map((p, i) => (
            <>
                {i === 0 && <hr />}
                <hgroup>
                    <h2>
                        <a href={`/blog/posts/${p.slug}`}>{p.data.title}</a>
                    </h2>
                    <h3>
                        {p.data.date.toDateString()}
                    </h3>
                </hgroup>
                <p>
                    {p.data.summary}&nbsp;&nbsp;<a href={`/blog/posts/${p.slug}`}>Read More</a>
                </p>
                <hr />
            </>
        ))
    }
</Layout>

<style>
    hgroup {
        display: flex;
        flex-direction: column;
        gap: var(--spacing);
    }

    h2 > a {
        text-decoration: none !important;
    }
</style>
