---
import IconLink, { LabelPlacement } from "@components/IconLink.astro";

type SocialData = Array<{
    name: string;
    icon: string;
    link: string;
    overridePack?: string;
}>;

export interface Props {
    labelPlacement: LabelPlacement;
    makeLinksUnfocusable?: boolean;
    [rest: string | number | symbol]: unknown;
}

const socialData: SocialData = [
    { name: "GitHub", icon: "github", link: "https://github.com/Bwc9876" },
    { name: "Twitter", icon: "twitter", link: "https://twitter.com/Bwc9876" },
    { name: "Instagram", icon: "instagram", link: "https://www.instagram.com/bwc6789/" },
    { name: "LinkedIn", icon: "linkedin", link: "https://www.linkedin.com/in/bwc9876" },
    { name: "PayPal", icon: "paypal", link: "https://paypal.me/bwc9876" },
    { name: "Patreon", icon: "patreon", overridePack: "mdi", link: "https://patreon.com/Bwc9876" }
];

const { labelPlacement, makeLinksUnfocusable, ...rest } = Astro.props;
---

<ul {...rest}>
    {
        socialData.map((s) => (
            <li>
                <IconLink
                    icon={s.icon}
                    overridePack={s.overridePack}
                    size={25}
                    tabindex={makeLinksUnfocusable ? "-1" : undefined}
                    href={s.link}
                    label={s.name}
                    placement={labelPlacement}
                />
            </li>
        ))
    }
</ul>
