---
import IconLink, { type LabelPlacement } from "@components/IconLink.astro";

type SocialData = Array<{
  name: string;
  icon: string;
  link: string;
  overridePack?: string;
}>;

export interface Props {
  labelPlacement: LabelPlacement;
  makeLinksUnfocusable?: boolean;
  [rest: string | number | symbol]: unknown;
}

const socialData: SocialData = [
  { name: "Resume", icon: "file-earmark-text-fill", link: "/resume.pdf" },
  { name: "GitHub", icon: "github", link: "https://github.com/Bwc9876" },
  { name: "Bluesky", icon: "bluesky", link: "https://bsky.app/profile/bwc9876.dev" },
  { name: "PayPal", icon: "paypal", link: "https://paypal.me/bwc9876" }
];

const { labelPlacement, makeLinksUnfocusable, ...rest } = Astro.props;
---

<span {...rest}>
  {
    socialData.map((s) => (
      <IconLink
        icon={s.icon}
        overridePack={s.overridePack}
        href={s.link}
        label={s.name}
        placement={labelPlacement}
        isExternal
      />
    ))
  }
</span>

<style>
  span {
    padding-left: 0;
    display: flex;
    flex-direction: row;
    gap: var(--2);
  }
</style>
