---
import { Image } from "@astrojs/image/components";
import { getImage } from "@astrojs/image";
import IconLink from "@components/IconLink.astro";
import "@picocss/pico/css/pico.min.css";

import defaultOg from "@images/default-og.png";
import Socials from "@components/Socials.astro";

export interface Props {
    title: string;
    description?: string;
    keywords?: string[];
    og?: {
        src: string;
        alt: string;
    };
}

const { title, description: oldDescription, keywords, og: oldOg } = Astro.props;

const og = oldOg ?? { src: defaultOg.src, alt: "Ben C's Avatar" };

const ogImg = await getImage({
    format: "webp",
    width: 1920,
    height: 1080,
    position: "center",
    fit: "inside",
    background: "white",
    ...og
});

og.src = `${Astro.url.origin}${ogImg.src}`;

const description = oldDescription ?? "Ben C's software development portfolio";
const fullTitle = `${title} | Ben C`;
const canonical = Astro.url.toString();
---

<!DOCTYPE html>
<html data-theme="dark" lang="en">
    <head>
        <title>{fullTitle}</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content={description} />
        <meta name="keywords" content={["portfolio"].concat(keywords ?? []).join(", ")} />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:type" content="website" />
        <meta property="og:title" content={fullTitle} />
        <meta property="og:description" content={description} />
        <meta property="og:url" content={canonical} />
        <meta property="og:image" content={og.src} />
        <meta property="og:image:alt" content={og.alt} />
        <meta name="twitter:title" content={fullTitle} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:image" content={og.src} />
        <link rel="canonical" href={canonical} />
        <link rel="icon" href="/favicon.png" />
    </head>
    <body id="top">
        <nav class="container">
            <ul>
                <li>
                    <a class="nav-icon-link" href="/"
                        ><Image
                            class="nav-icon"
                            width={150}
                            height={150}
                            format="webp"
                            alt="Ben C's Avatar"
                            src="https://avatars.githubusercontent.com/u/25644444?v=4"
                        />
                    </a>
                </li>
                <li class="brand-name">
                    <b>Bwc9876</b>.dev
                </li>
                <li class="home-link">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
            </ul>
            <ul aria-hidden="true" class="mobile-socials">
                <li>
                    <details role="list" dir="rtl">
                        <summary tabindex="-1" aria-haspopup="listbox" role="link">Socials</summary>
                        <Socials makeLinksUnfocusable role="listbox" labelPlacement="inside" />
                    </details>
                </li>
            </ul>
            <Socials class="normal-socials" labelPlacement="bottom" />
        </nav>
        <main class="container">
            <slot />
        </main>
        <footer class="container">
            <p><a href="#top">Back To Top</a></p>
            <p class="copyright">© Ben C 2023</p>
            <Socials labelPlacement="top" />
        </footer>
    </body>
</html>

<style is:global>
    :root {
        --spacing: 0.5rem !important;
        --muted-color: hsl(205 10% 65% / 1) !important;
    }

    .home-link {
        padding-left: calc(var(--spacing) * 2);
    }

    @media (width <= 575px) {
        .brand-name {
            display: none;
        }

        .container {
            padding: 0 calc(var(--spacing) * 2) !important;
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin-top: calc(var(--spacing) * 5) !important;
    }

    footer p {
        text-align: center;
    }

    footer p.copyright {
        color: var(--muted-color);
    }

    footer ul {
        display: flex;
        gap: calc(var(--spacing) * 3);
        list-style: none;
        flex-direction: row;
    }

    footer ul li {
        list-style: none;
    }

    nav .mobile-socials {
        display: none;
    }

    nav details a {
        direction: ltr !important;
    }

    nav details [astro-icon] {
        width: var(--font-size);
        height: var(--font-size);
        margin-right: 0.2rem;
    }

    @media (width <= 800px) {
        nav .normal-socials {
            display: none;
        }

        nav .mobile-socials {
            display: flex;
        }
    }

    .nav-icon {
        width: 50px;
        clip-path: circle();
    }
</style>
