---
import { Image, getImage } from "astro:assets";
import "@picocss/pico/css/pico.min.css";

import defaultOg from "@images/default-og.png";
import Socials from "@components/Socials.astro";
import { Icon } from "astro-icon";
import type { ImageMetadata } from "astro";

export interface Props {
    title: string;
    appendTitle?: boolean;
    description?: string;
    keywords?: string[];
    og?: {
        src: ImageMetadata;
        alt: string;
    };
}

const { title, appendTitle, description: oldDescription, keywords, og: oldOg } = Astro.props;

const og = {
    src: (
        await getImage({
            src: oldOg?.src ?? defaultOg,
            format: "webp"
        })
    ).src,
    alt: oldOg?.alt ?? "Ben C's Profile Picture"
};

og.src = `${Astro.url.origin}${og.src}`;

const description = oldDescription ?? "Ben C's software development portfolio";
const fullTitle = appendTitle ?? true ? `${title} | Ben C` : title;
const canonical = Astro.url.toString();
---

<!DOCTYPE html>
<html data-theme="dark" lang="en">
    <head>
        <title>{fullTitle}</title>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width" />
        <meta name="description" content={description} />
        <meta name="keywords" content={["portfolio"].concat(keywords ?? []).join(", ")} />
        <meta name="generator" content={Astro.generator} />
        <meta property="og:type" content="website" />
        <meta property="og:title" content={fullTitle} />
        <meta property="og:description" content={description} />
        <meta property="og:url" content={canonical} />
        <meta property="og:image" content={og.src} />
        <meta property="og:image:alt" content={og.alt} />
        <meta name="twitter:title" content={fullTitle} />
        <meta name="twitter:description" content={description} />
        <meta name="twitter:card" content="summary_large_image" />
        <meta name="twitter:image" content={og.src} />
        <link rel="canonical" href={canonical} />
        <link rel="icon" href="/favicon.png" />
    </head>
    <body id="top">
        <nav class="container">
            <ul>
                <li>
                    <a class="nav-icon-link" href="/"
                        ><Image
                            class="nav-icon"
                            width={150}
                            height={150}
                            format="webp"
                            alt="Ben C's Avatar"
                            src="https://avatars.githubusercontent.com/u/25644444?v=4"
                        />
                    </a>
                </li>
                <li class="brand-name">
                    <a href="/">
                        <b class="gradient-text">Bwc9876</b>.dev
                    </a>
                </li>
                <li class="home-link">
                    <a href="/">Home</a>
                </li>
                <li>
                    <a href="/projects">Projects</a>
                </li>
                <li>
                    <a href="/blog">Blog</a>
                </li>
            </ul>
            <ul aria-hidden="true" class="mobile-socials">
                <li>
                    <details role="list" dir="rtl">
                        <summary tabindex="-1" aria-haspopup="listbox" role="link">Socials</summary>
                        <Socials makeLinksUnfocusable role="listbox" labelPlacement="inside" />
                    </details>
                </li>
            </ul>
            <Socials class="normal-socials" labelPlacement="bottom" />
        </nav>
        <main class="container">
            <slot />
        </main>
        <footer class="container">
            <p>
                <a
                    aria-label="Back To Top"
                    data-tooltip="Back To Top"
                    data-placement="top"
                    href="#top"><Icon width="1.5rem" height="1.5rem" name="bi:arrow-bar-up" /></a
                >
            </p>
            <p class="copyright">© Ben C 2023</p>
            <Socials labelPlacement="top" />
        </footer>
    </body>
</html>

<style is:global>
    :root {
        --text: #daf1ef;
        --background: #080609;
        --primary: #53d164 !important;
        --secondary: #012d1e !important;
        --accent: #0ee19b;
        --spacing: 0.5rem !important;
        --primary-hover: hsl(128, 58%, 45%) !important;
        --primary-focus: hsl(128, 58%, 70%) !important;
        --secondary-hover: hsl(160, 96%, 10%) !important;
        --secondary-focus: hsl(160, 96%, 30%) !important;
        --tooltip-color: var(--muted-color) !important;
        --tooltip-background-color: var(--secondary) !important;
        --background-color: var(--background) !important;
        --card-background-color: var(--secondary) !important;
        --card-sectionning-background-color: var(--secondary) !important;
        --dropdown-background-color: var(--secondary) !important;
        --dropdown-hover-background-color: var(--secondary-hover) !important;
        --dropdown-border-color: var(--secondary) !important;
        --color: var(--text) !important;
        --h1-color: var(--primary) !important;
        --h2-color: var(--text) !important;
        --h3-color: var(--text) !important;
        --h4-color: var(--text) !important;
        --h5-color: var(--text) !important;
        --h6-color: var(--text) !important;
        --muted-color: var(--text) !important;
    }

    a:not([role="button"]):focus,
    summary:focus {
        background-color: initial;
        border: 2px solid var(--accent);
        border-radius: 5px;
    }

    .gradient-text {
        background: linear-gradient(120deg, var(--primary), var(--accent) 70%);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    a[role="button"]:not(.secondary) {
        color: black !important;
    }

    a:not([role="button"]) {
        color: var(--accent);
    }

    a:not([role="button"]):hover {
        color: hsl(160, 88%, 35%);
    }

    body {
        display: flex;
        flex-direction: column;
        min-height: 100vh;
    }

    main {
        flex-grow: 1;
    }

    .home-link {
        padding-left: calc(var(--spacing) * 2);
        display: none;
    }

    .brand-name {
        color: var(--accent);
    }

    @media (width <= 575px) {
        .brand-name {
            display: none;
        }

        .home-link {
            display: initial;
        }

        .container {
            padding: 0 calc(var(--spacing) * 2) !important;
        }
    }

    footer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        align-content: center;
        margin-top: calc(var(--spacing) * 5) !important;
    }

    footer p {
        text-align: center;
    }

    footer p.copyright {
        color: var(--muted-color);
    }

    footer ul {
        display: flex;
        gap: calc(var(--spacing) * 3);
        list-style: none;
        flex-direction: row;
    }

    footer ul li {
        list-style: none;
    }

    nav .mobile-socials {
        display: none;
    }

    nav summary {
        color: var(--accent) !important;
        display: flex;
        align-items: center;
    }

    nav details a {
        direction: ltr !important;
    }

    nav details [astro-icon] {
        width: var(--font-size);
        height: var(--font-size);
        margin-right: 0.2rem;
    }

    @media (width <= 800px) {
        nav .normal-socials {
            display: none;
        }

        nav .mobile-socials {
            display: flex;
        }
    }

    .nav-icon {
        width: 50px;
        clip-path: circle();
    }
</style>
